{% extends "layout.html" %}

{% block title%}
    Edit
{% endblock %}

{% block mainbar %}
    <h1 class = "left-align bw-bold">Edit a definition</h1>
    <br>
    <form action="/edit" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name = "word">
                <option disabled selected>Word</option>
                {% for word in words %}
                        <option value= {{ word["word"] }}> {{word["word"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <textarea name="new_definition" rows="10" cols="100" placeholder = "New Definition"></textarea>
        </div>
        <button class="btn btn-danger" type="submit" value="Submit">Edit</button>
    </form>
{% endblock %}