{% extends "layout.html" %}

{% block title%}
    Search
{% endblock %}

{% block mainbar %}
    <h1 class = "left-align bw-bold">Search for any word in english and save it !</h1>
    <br>
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="word" placeholder="Word" type="text">
        </div>
        <button class="btn btn-danger" type="submit" value="Submit">Search</button>
    </form>
{% endblock %}